:root {
    --ff-primary: 'Montserrat', sans-serif;
    --ff-accent: 'Saira Stencil One', cursive;
    --clr-primary-200: #EAE5E1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-primary-200);
}

h1 {
    font-size: 3vw;
    color: #06113C;
    letter-spacing: 2px;
    font-family: 'Sriracha', cursive;
}

h2 {
    opacity: 0;
    transition: opacity 250ms ease-in;
    font-size: 4vw;
    font-weight: 500;
    letter-spacing: 1px;
    color: #EE7447;
    font-family: 'Saira Stencil One', cursive;
    text-transform: uppercase;
}



h3 {
    color: #06113C;
    font-size: 2rem;
    letter-spacing: 1px;


}

p {
    color: #06113C;
    font-size: 1rem;
    line-height: 2;
    padding-top: 7%;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}


.title-animation {
    opacity: 1;
    transition: all 0.5s ease;
    animation: flipInX;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

main {
    width: 80%;
    margin: auto;
}

/*************** HEADER *****************/
nav {
    position: fixed;
    background-color: var(--clr-primary-200);
    height: 10vh;
    width: 100%;
    padding: 0 5%;
    margin: auto;
    z-index: 2;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 100%;
    width: 70%;
    margin-left: auto;
    align-items: center;

}


.nav-link {
    color: #E04D01;
    font-family: var(--ff-primary);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;

}

.nav-link:hover {
    color: #06113C;
    letter-spacing: 2px;

}

/**************** SOCIAL MEDIA ****************/
.social-line {
    width: 2px;
    height: 90%;
    background-color: #06113C;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 24px;

}

.social-media {
    position: fixed;
    left: 2%;
    bottom: 0;
    width: 50px;
    height: 30%;
}

.social-links {
    z-index: 2;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social-item {
    margin: auto;
    margin-bottom: 20px;

}

.fab {
    background-color: #06113C;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    color: #EE7447;
    text-align: center;
    padding-top: 8px;
}

.fa-github {
    font-size: 2.6em;
    padding: 0;
    background-color: none;
}

/***************** INTRODUCE *****************/
.intro-bg {
    background: linear-gradient(to top, #D6D2CE, var(--clr-primary-200));
    width: 100%;
    height: 100vh;
    /* padding-top: 10%; */
}

#introduce {
    width: 80%;
    height: 100%;
    margin: auto;
    min-height: 80vh;
    z-index: -1;
    display: flex;
    flex-direction: row;
    flex: 1;
}


.intro-text {
    padding-top: 10%;
    flex: 30%;
}

.intro-text h1 {
    position: absolute;
}


.intro-img {
    flex: 45%;
    margin-top: auto;
}

.intro-img img {
    height: 90vh;
}

.bio {
    flex: 25%;
    padding-top: 40%;
}

.bio h4 {
    text-align: right;
}

.parisa {
    color: #EE7447;
}

.cta {
    position: relative;
}

.cta button {
    margin-top: 4%;
    position: absolute;
    right: 0;

}

.btn-hire-me {
    width: 150px;
    height: 60px;
    border-radius: 19px;
    border: 2pt solid #EE7447;
    background-color: var(--clr-primary-200);
    color: #EE7447;
    font-size: 1.8em;
    text-align: center;
    font-family: 'Sriracha', cursive;
    background-position: 0 -100%;
    background-repeat: repeat-x;
    transition: background-position 1s ease;
}

.btn-hire-me:hover,
.send-btn:hover {
    background-position: 80% 50%;
    border-color: #EE7447;
    color: var(--clr-primary-200);
}

.liquidbg {
    background-image: url(../images/btn-bg.png);
}

/******************ABOUT SECTION*************/
#about-me {
    display: flex;
    padding-top: 10%;
    z-index: 2;
}

.about-text {
    display: flex;
    flex-direction: column;
}

.first-section {
    flex: 1;
}


/************* SKILLS SECTION ****************/
#skills {
    display: flex;
    padding-top: 10%;
}

#skills h2 {
    color: #06113C;
    padding-right: 15%;
}

.skill-text {
    width: 65%;
}

.progress-section {
    width: 80%;
}

.skill-description {
    padding-right: 45%;
}

.design-skills h3,
.develop-skills h3 {
    text-transform: uppercase;
    text-align: left;
    font-size: 1.5em;

}

.skill-items {
    width: 35%;
    flex-direction: column;
}


.skill-title {
    background-color: var(--clr-primary-200);
    position: absolute;
    padding: 0 3%;
    border-radius: 0.5rem;
    top: -70%;
    left: 5%;
    z-index: 1;
}

.skill-item {
    display: flex;
    height: fit-content;
    width: 100%;
    min-width: 150px;
    margin: 8% 0;
    align-items: center;
    justify-content: space-between;
    position: relative;
}



/* Progress bar */


.progress {
    height: 20px;
    width: 100%;
    border: 0.8px solid #251D3A;
    border-radius: 9px;
    background-color: var(--clr-primary-200);

}

.progress-done {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border-radius: 9px;
    height: 100%;
    background: linear-gradient(to left, #E04D01, #FF7700);
    box-shadow: 0 3px -5px #E04D01, 0 2px 5px #E04D01;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
    width: 0;
    opacity: 0;
    transition: 1s ease;
}

/***************** Contact me *****************/
#contact-me {
    padding-top: 5%;
    padding-bottom: 7%;
    display: flex;
}

.contact-form {
    margin: auto;
    width: 60%;
}

.contact-form h2 {
    margin: 5% 0;
}

input {
    color: #06113C;
}

.input-group {
    position: relative;
}

.user-label {
    position: absolute;
    left: 15px;
    top: 8px;
    color: #EE7447;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
    padding: 15px;
    height: 50px;
    margin: 2% 0;
    width: 100%;
    background-color: var(--clr-primary-200);
    color: #06113C;
    border-radius: 8px;
    border: #EE7447 solid 2pt;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    outline: none;
    background-color: var(--clr-primary-200);
    border: #06113C solid 2pt;
    box-shadow: none;

}

textarea {
    padding: 2%;
    margin: 2% 0;
    width: 100%;
    border-style: none;
    border-radius: 8px;
    background-color: var(--clr-primary-200);
    color: #06113C;
    border: #EE7447 solid 2pt;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);

}


textarea:focus {
    outline: none;
    background-color: var(--clr-primary-200);
    border: #06113C solid 2pt;
    box-shadow: none;
}

.form-input:focus~label,
.form-input:valid~label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--clr-primary-200);
    padding: 0 .2em;
    color: #06113C;
}

textarea:focus~label {
    transform: translateY(-50%) scale(0.9);
    background-color: var(--clr-primary-200);
    padding: 0 .2em;
    color: #06113C;
}

.send-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 163px;
    height: 50px;
    margin-top: 5px;
    align-items: center;
    font-size: 1.25em;
    text-align: center;
    line-height: 0px;
    padding: 0;
    border-radius: 8px;
    border: 2pt solid #EE7447;
    background-color: var(--clr-primary-200);
    color: #EE7447;
    background-position: 0 -100%;
    background-repeat: repeat-x;
    transition: background-position 1s ease;

}

#map {
    height: 100%;
}


/*********************** MEDIA QUERY ************************/

@media screen and (max-width: 910px) {


    .bio {
        left: 10%;
        position: absolute;
        top: -15%;
        font-size: 0.6em;
    }

    .bio h4 {
        font-size: 1.5em;
    }

    .cta button {
        width: 100px;
        height: 40px;
    }

    .line {
        width: 30px;
        height: 4px;
        margin: 5px;
        background-color: #06113C;
        border-radius: 3px;

    }

    .hamburger {
        z-index: 2;
        position: absolute;
        right: 3%;
        top: 50%;
        transform: translate(-3%, -50%);
        cursor: pointer;
    }

    nav {
        width: 100%;
        height: 10vh;

    }

    .nav-links {
        position: fixed;
        flex-direction: column;
        background-color: #EE7447;
        width: 100%;
        left: 0;
        height: 100vh;
        color: #000;
        align-items: center;
        pointer-events: none;
        clip-path: circle(100px at 100% -20%);
        -webkit-clip-path: circle(100px at 100% -20%);
        transition: all 1s ease-out;
    }

    .nav-links.open {
        clip-path: circle(1200px at 100% -20%);
        -webkit-clip-path: circle(1200px at 100% -20%);
        pointer-events: all;
    }


    .nav-link {
        color: var(--clr-primary-200);
        font-size: 1.2em;
        letter-spacing: 2px;
        opacity: 0;
        transition: all 0.2s ease 0.2s;
    }


    .nav-link.fade {
        opacity: 1;
    }

    .rotation .line-1 {
        transform: rotateZ(-45deg) translate(-15px, 3px);

    }

    .rotation .line-2 {
        opacity: 0;


    }

    .rotation .line-3 {
        transform: rotateZ(45deg) translate(-10px, 3px);

    }

    main {
        width: 75%;
    }

    /* INTRODUCE */


    .intro-text {
        margin-right: auto;
        width: 100%;
        padding-top: 20%;
    }



    .intro-text h1 {
        font-size: 2em;
        position: absolute;

    }





    /* ABOUT SECTION */


    .about-text {
        padding: 10% 0;
    }

    .first-section p {
        padding: 10% 0;
    }

    .second-section {
        margin: 20% 0 0;
    }

    h2 {
        font-size: 2em;
    }

    /* SKILLS SECTION */
    #skills {
        flex-direction: column;
    }

    #skills h2 {
        display: none;
    }

    .skill-description {
        padding: 0;
    }

    .skill-text {
        width: 100%;
    }

    .skill-items {
        margin-left: auto;
        padding-top: 15%;
        width: 100%;
    }

    .title {
        writing-mode: vertical-rl;
        text-orientation: sideways;
        font-size: 0.8em;
        text-transform: uppercase;
        text-align: left;
        margin: auto 0;
    }

    .progress-section {
        margin-left: auto;
    }

    .design-skills,
    .develop-skills {
        display: flex;
        flex-direction: row;
        padding-bottom: 10%;
    }

    /* .progress {
        width: 100%;
        min-width: 230px;
    } */

    /* CONTACT SECTION */
    .contact-form {
        width: 100%;
    }

    .send-btn {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .bio {
        display: none;
    }

    .intro-img img {
        height: 80vh;
    }

    .social-line {
        left: 20px;
    }

    .social-media {
        left: 0;
        bottom: 0;
        width: 40px;
    }

    .fab {
        width: 30px;
        height: 30px;
        font-size: 1.2em;
        padding-top: 5px;
    }

    .fa-github {
        font-size: 1.99em;
        padding: 0;
    }


}

@media screen and (max-width: 445px) {
    .intro-text {
        padding-top: 30%;
    }

    .intro-img img {
        height: 68vh;
    }

}

@media screen and (max-width: 375px) {
    .intro-text {
        padding-top: 30%;
    }

    .intro-img img {
        height: 60vh;
    }
}